<nav class="flex justify-around align-center mt-[64px] mx-mm md:mx-mt lg:mx-ml">
    <img src="../../assets/shared/desktop/logo-light.svg" alt="logo">
    <ul class="flex gap-5">
        <li>
            <a class="font-jost text-nav text-secondary-darkGrey" href="#">OUR COMPANY</a>
        </li>
        <li>
            <a class="font-jost text-nav text-secondary-darkGrey" href="#">LOCATION</a>
        </li>
        <li>
            <a class="font-jost text-nav text-secondary-darkGrey" href="#">CONTACT</a>
        </li>
    </ul>

</nav>