<nav
  class="flex justify-between mx-mxmm md:mx-mxtm lg:mx-mxcm my-mymobm md:my-mydtm lg:my-mydtm"
>
  <img src="../../assets/shared/desktop/logo-light.svg" alt="logo" />
  <img
  (click)="toggleMenu()"
    class="sm:block md:hidden lg:hidden"
    src="../../assets/burger.svg"
    alt="burger"
  />
  <div class="hidden md:flex gap-[42px] tags-tablet">
    <a routerLink="/about">Our company</a>
    <a routerLink="/locations">locations</a>
    <a routerLink="/contact">contact</a>
  </div>
</nav>

<div [ngClass]="{hidden:!isMenuOpen}" class="flex flex-col md:hidden bg-secondary-darkGrey text-primary-white">
  <a routerLink="/about">Our company</a>
  <a routerLink="/locations">locations</a>
  <a routerLink="/contact">contact</a>
</div>
