<nav class="flex justify-around mx-mx-mm md:mx-mx-tm lg:mx-mx-dm my-my-mobm md:my-my-dtm lg:my-my:dtm">
    <img src="../../assets/shared/desktop/logo-light.svg" alt="logo">
    <img class="sm:block md:hidden lg:hidden" src="../../../../public/assets/burger.svg" alt="burger">
    <ul class=" gap-[42px] hidden md:flex flex-row lg:flex">
        <li>
            <a class="font-jost text-nav text-secondary-darkGrey" href="#">OUR COMPANY</a>
        </li>
        <li>
            <a class="font-jost text-nav text-secondary-darkGrey" href="#">LOCATION</a>
        </li>
        <li>
            <a class="font-jost text-nav text-secondary-darkGrey" href="#">CONTACT</a>
        </li>
    </ul>

</nav>