<app-header></app-header>
<section class="flex flex-col md:flex-row lg:flex-row mx-0 md:mx-mxtm lg:mx-mxcm bg">
    <div class="">
        <h1 class="font-jost text-h1">Award-winning custom designs and digital branding solutions</h1>
        <p class="">With over 10 years in the industry, we are experienced in creating fully responsive websites, app design, and engaging brand experiences. Find out more about our services.</p>
        <!-- <app-button buttonText="Learn More" class=""></app-button> -->
    </div>
    <picture>
        <img src="assets/mobile.jpg" alt="mob">
    </picture>
    <img src="../mobile.jpg" alt="mobile">
</section>
<app-footer></app-footer>
