<footer class="bg-primary-black text-primary-white">
  <nav
    class="flex flex-col md:flex-row justify-between mx-mxmm md:mx-mxtm lg:mx-mxcm my-mymobm md:my-mydtm lg:my-mydtm"
  >
    <img
      class="w-[197px] h-[27px]"
      src="../../assets/shared/desktop/logo-dark.svg"
      alt="logo"
    />

    <div
      class="flex flex-col md:flex-row gap-[42px] tags-tablet"
    >
      <a routerLink="/about">Our company</a>
      <a routerLink="/locations">locations</a>
      <a routerLink="/contact">contact</a>
    </div>
  </nav>

  <div>
    <p>Designo Central Office</p>
    <p>3886 Wellington Street</p>
    <p>Toronto, Ontario M9C 3J5</p>
  </div>
  <div>
    <p>Contact Us (Central Office)</p>
    <p>P : +1 253-863-8967</p>
    <!-- <p>M : contact@designo.co</p> -->
  </div>
  <div class="flex">
    <img src="../../assets/shared/desktop/icon-facebook.svg" alt="soc-icon" />
    <img src="../../assets/shared/desktop/icon-youtube.svg" alt="soc-icon" />
    <img src="../../assets/shared/desktop/icon-twitter.svg" alt="soc-icon" />
    <img src="../../assets/shared/desktop/icon-pinterest.svg" alt="soc-icon" />
    <img src="../../assets/shared/desktop/icon-instagram.svg" alt="soc-icon" />
  </div>
</footer>
