<footer class="bg-primary-black text-primary-white px-4 md:px-6 lg:px-27 pt-[253px] md:pt-[166px] lg:pt-[144px] pb-12">
  <nav
    class="flex flex-col md:flex-row flex-wrap content-center items-center md:justify-between mx-mxmm md:mx-mxtm lg:mx-mxcm"
  >
    <img
      class="w-[197px] h-[27px]"
      src="../../assets/shared/desktop/logo-dark.svg"
      alt="logo"
    />
    <div class="devider mx-mxmm md:mx-mxtm lg:mx-mxcm sm:block md:hidden w-full"></div>
    <div
      class="flex flex-col md:flex-row gap-[42px] tags-tablet items-center"
    >
      <a routerLink="/about">Our company</a>
      <a routerLink="/locations">locations</a>
      <a routerLink="/contact">contact</a>
    </div>
  </nav>
  <div class="devider mx-mxmm md:mx-mxtm lg:mx-mxcm hidden md:block"></div>
  <div class="flex flex-col md:flex-row content-center items-center justify-around">
    <div class="my-6">
      <p>Designo Central Office</p>
      <p>3886 Wellington Street</p>
      <p>Toronto, Ontario M9C 3J5</p>
    </div>
    <div>
      <p>Contact Us (Central Office)</p>
      <p>P : +1 253-863-8967</p>
      <!-- <p>M : contact@designo.co</p> -->
    </div>
    <div class="flex w-[184px] justify-around mt-7 md:mt0">
      <img src="../../assets/shared/desktop/icon-facebook.svg" alt="soc-icon" />
      <img src="../../assets/shared/desktop/icon-youtube.svg" alt="soc-icon" />
      <img src="../../assets/shared/desktop/icon-twitter.svg" alt="soc-icon" />
      <img src="../../assets/shared/desktop/icon-pinterest.svg" alt="soc-icon" />
      <img src="../../assets/shared/desktop/icon-instagram.svg" alt="soc-icon" />
    </div>
  </div>
</footer>
